#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-container {
  text-align: center;
  margin-bottom: 20px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.prev-btn,
.next-btn {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
  outline: none;
}

.prev-btn:hover,
.next-btn:hover {
  background-color: #0056b3;
}

.blockquote-footer {
  margin-top: 10px;
}

.quote-container {
  font-family: 'Times New Roman', Times, serif; /* Example font family */
  font-size: 24px; /* Example font size */
  font-style: italic; /* Example font style */
}
